html{
  overflow-x:hidden;
  margin:0;
  padding:0;
}

/*NavBar*/
.logo{
  height:3em;
  border-radius:100%;
}



.landingPage{
  background: url('http://az616578.vo.msecnd.net/files/2016/02/28/6359229116137967291264474067_0375-0.jpg');
  height:80vh;
  width:100vw;
     /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation-duration:4s;
 -webkit-animation-delay: 1s;
  z-index:-10;
  
}

.overlay{
  position:absolute;
  width:100vw; 
  height:80vh;
  z-index:20;
  background-color: rgba(128,0,0,.4);
  
}

.landingPageText{
  color:white;
  font-size:3em;
  color: white;
  z-index: 40;
  position: absolute;
  bottom:5.8em;
   text-align: center;
   width: 100%;
   font-weight:lighter;
  
}

.accent{
  font-weight:400;
}
.purpStatement{
color:maroon;
padding:1em;
}

.purpText{
  
  font-weight:100;
  padding: 1em 1em;
}

/*+++++++++++++*/

.whatDoCont{
  background-color: white;
}

.priviledge .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
  
}
.priviledge h2 {
  font-weight: normal;
  text-align:center;
  padding-top:1em;
}
.priviledge .col-lg-4 p {
  margin-right: 1em;
  margin-left: 1em;
  font-weight:lighter;
}

.pyramidImages{
  item-align:center;
  border-radius:100%;
}

.privDivider{
  height: margin:1em; 
  width:80vw;
}

.weDoHeader{
  text-align:center;
  font-weight: 300;
  font-size:3em; 
}

.doItDiv{
  width:8em;
}

.topHead{
  background-color:black;
  color:white;
  position:absolute;
  z-index:200;
}

.fa{
  color:white;
}

.sgaLogo{
  height:15em;
  border-radius:100%;
  padding-top:2em;
  padding-bottom:1em;
}

.whatDotitle{
 margin: 20px 0px;
  text-align:center;
  font-weight: 300;
  font-size:3em; 
}

.functionDescrip{
  font-size:1.5em;
  font-weight:lighter; 
  padding: 1em 2em;
  margin-bottom:2em;
}


.doCont{
  background-color: rgba(211,211,211,.1);
  padding:2em;
}

.navTopping{
  background-color:transparent;
  color:black;
  
  padding: 0 1.25em;
  padding-top:5px;
}

.fbIm{
  height:1em;
  padding: 0 2px;
}

.contactUs{
  font-weight:100;
  display:inline;
  color:gray;
}


.invDiv{
  height:40vh;
  width:100vw;
  background: url('https://static.wixstatic.com/media/a4a57f_b5c27c49ac8849259328d875a6934d0a.jpg_srz_3075_1943_85_22_0.50_1.20_0.00_jpg_srz');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pick{
  margin-top:1em;
  color:white;
  background:rgba(128,0,0,.5);
  padding:.5em;
  width:80vw;
}



.btn{
  background-color:transparent;
  color:white;
  font-weight:lighter;
    border-radius:3%;
 /* outline: 1px white solid;*/
  
  outline: white 1px solid;
 

  

}


.btn:hover{
  color:maroon;
  
  background-color:white;
  outline: 0px white solid;
  border-radius:3%;
 
}


.invDiv1{
  height:70vh;
  width:100vw;
  background: url('http://cdn2.hubspot.net/hubfs/97965/hall-of-champions.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pick1{
  position:absolute;
  margin-top:3vh;
  color:white;
  background:rgba(128,0,0,.3);
  padding:.5em;
  right:0;
  width:75vw;
}

.pickText{
  position:absolute;
  top:25vh;
  margin-left:2vw;
  color:white;
  background:rgba(128,128,128,0);
  padding:3vh;
  font-weight:300;
  font-size:3.25vh;
  margin-right:3vw;
  line-height:1.5em;
  text-align:center;
  
}



/*++++++++ Footer text++++++++*/

.socialFooter{

  text-align:center;
  }
.linkFooter{
   
  text-align:center;
  }
.iconFooter{
 
  text-align:center;
  }

.credFooter{
 
  text-align:center;
}



.fbIm2{
  height:1.25em;
  padding: 0 20px;
}

.divCoLogo{
  height:10vh;
  padding: 0em 1em;
  border-radius:100%;
  item-align:center;
}

.footerSpacer{
  height:4vh;
}

.tamuLogoFooter{
  height:15vh;
}


.footerLinks{
  color:maroon;
}

.footerCopyright{
  color:maroon;
  font-weight:normal;
  font-size:1.75vh;
}

.footsub{
  font-size:1.5vh;
  font-weight:lighter;
}



/*--- Media Queries----*/
@media only screen and (max-width: 970px) {
  .navTopping{
    height:0;
  }
  
 
  
  .pickText{
    top:25vh
  }
  
    .invDiv1{
    height:110vh;
  }
  
  .invDiv{
    height:70vh;
  }
}

@media only screen and (max-width: 370px) {
  
  .pickText{
    top:35vh;
  }
  .invDiv{
    height:100vh;
  }
   .invDiv1{
    height:130vh;
  }
}


#load_screen{
  background:white;
  color:black;
  position:fixed;
  opacity:1;
  z-index:1000;
  top:0px;
  width:100vw;
  height:1600px;
  text-align:center;
}

#load_screen>#loading{
  color:black;
  
}



#loader-animation{
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;

}


@media only screen and (max-width: 322px){
  .landingPageText{
    bottom:3em;
  }
}
